
<!DOCTYPE html>
<html lang="es">
    <%-include('../partials/head')%>

    <body>
        <div class="container-fluid">
            <h2><%=tagline%></h2>

            <%if(listaProductos.length ==0){%>
                <h3 class="bg-danger w-50 mt-5 p-3">No se encontraron productos</h3>
            <%}else{%>
                <table class="table table-success table-striped w-75 table-bordered mt-5">
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th class="w-25">Imagen</th>
                    </tr>
                    <%listaProductos.forEach( producto =>{%>
                        <tr>
                            <td><%=producto.title%></td>
                            <td><%=producto.price%></td>
                            <td>
                                <img src="<%=producto.img%>" alt="" class="w-25 h-25">
                            </td>
                        </tr>
                    <%})%>
                </table>
            <%}%>

            <a href="http://localhost:8080/form" class="btn btn-success mt-5">Volver a formulario</a>
        </div>
    </body>
</html>

